---
// componentes
import Layout from '../layouts/Layout.astro';
import Logo from '../components/logo.astro';
import Button from '../components/button.astro'
import Card from '../components/card.astro'

// imagenes
import design from '@/assets/design.svg'
import dev from '@/assets/dev.svg'
import responsive from '@/assets/responsive.svg'
---

<Layout title="CreativaCode">
	<div id="content" class="flex flex-col items-center">
		<header class="w-full px-10 py-7 flex justify-between bg-accent bg-opacity-30">
			<Logo />
			<section class="flex items-center gap-10 text-background text-sm font-bold">
				<a href="#">Servicios</a>
				<a href="#">Portafolios</a>
				<a href="#">Sobre nosotros</a>
				<a href="#">Contacto</a>
			</section>
		</header>
		<main class="w-full pt-2 flex flex-col justify-center bg-accent bg-opacity-30">
			<section class="h-60vh mb-20 px-3 flex flex-col items-center justify-center">
				<div class="my-4 flex flex-col items-center">
					<h1 class="m-2 text-6xl font-black">Diseño UX/UI y Desarrollo Web</h1>

					<p class="max-w-60ch m-1 text-center text-md text-background font-bold">Creamos experiencias digitales excepcionales que impulsan al éxito de tu negocio.</p>
				</div>
				<div class=" my-2 flex flex-row">
					<Button>
						<span class="my-1 px-4 py-2 rounded text-background font-bold bg-primary bg-opacity-95" slot="text">Nuestros Servicios</span>
					</Button>
					<Button>
						<span class="my-1 px-3 py-2 rounded text-background font-bold border-2 border-background" slot="text">Contactar</span>
					</Button>
				</div>
			</section>
			<section class="px-3 py-8 pb-20 bg-accent flex flex-col items-center justify-center">
				<h2 class="my-3 text-5xl text-background font-extrabold">Nuestros Servicios</h2>
				<section class="py-4 flex flex-wrap justify-evenly gap-6">
						<Card>
							<img src={design.src} alt="img-design" slot="icon">
							<h3 class="text-background text-xl font-bold" slot="title">Diseño UX/UI</h3>
							<p class="text-background text-sm font-semibold" slot="text">Creamos interfaces intuitivas y alternativas que mejoran la experiencia del usuario.</p>
						</Card>
						<Card>
							<img src={dev.src} alt="img-dev" slot="icon">
							<h3 class="text-background text-xl font-bold" slot="title">Desarrollo Web</h3>
							<p class="text-background text-sm font-semibold" slot="text">Construimos sitios web y aplicaciones robustas y escalables con las ultimas tecnologías.</p>
						</Card>
						<Card>
							<img src={responsive.src} alt="img-phone" slot="icon">
							<h3 class="text-background text-xl font-bold" slot="title">Diseño Responsivo</h3>
							<p class="text-background text-sm font-semibold" slot="text">Aseguramos que tu sitio se vea y funcione perfectamente en todos los dispositivos.</p>
						</Card>

					</section>
			</section>
		</main>
		<footer class="w-full bg-background px-3 py-6 flex items-center flex-col text-text">
			<h2 class="mx-1 my-3 mt-10 text-5xl font-extrabold">¿Listo para empezar?</h2>
			<p class="my-3 max-w-60ch text-xl">Contáctanos hoy para discutir tu próximo proyecto y cómo podemos ayudarte a alcanzar tus objetivos digitales.</p>
			<Button>
				<span class="m-1 px-4 py-2 rounded text-background font-bold bg-primary bg-opacity-95" slot="text">Nuestros Servicios</span>
			</Button>
		</footer>
	</div>
</Layout>

