---
---

<div class="w-80 m-1 my-6 p-4 flex flex-col items-center bg-primary bg-opacity-40 text-text rounded-md shadow-lg">
    <slot name="icon" />
    <slot name="title" />
    <slot name="text" />
</div>